@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Dongle&family=Gluten:wght@100..900&family=Jua&family=Lexend:wght@100..900&family=Lilita+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Lilita One", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1e293b;
  /* Slate-800 for text */
  background-color: #E3F4FF;
  /* Soft icy blue background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #E3F4FF 0%, #BEE7F7 100%);
}

/* Remove number input spinners */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Default cursor */
/* body {
  cursor: url("../public/cursor32.png") 16 16, auto;
} */

/* Pointer cursor for clickable elements */
/* a,
button,
[role="button"],
.cursor-pointer {
  cursor: url("../public/cursor_pointer322.png") 16 16, pointer;
}  */


/* Hide scrollbar but keep scrolling */
.hide-scrollbar-page {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar-page::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}