@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gluten:wght@100..900&family=Jua&family=Lilita+One&display=swap');
@import "tailwindcss";

:root {
  font-family: "Lilita One", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1e293b;
  /* Slate-800 for text */
  background-color: #E3F4FF;
  /* Soft icy blue background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #E3F4FF 0%, #BEE7F7 100%);
}